

@media screen and (max-width: 1500px) {
    body {
        background-color:black;
        color: #ffb5fe;
        margin: 0;
        background-image: url("../Proj1/subpages/1.png");
    }


    h1 {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size:3em;
        padding-left: 25px;
    }

    h2 {
        font-size:2em;
        display:flex ;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
        justify-content: center;
        align-items: center;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div p {
        display: flex;
        max-width: 56%;
        color:white;
        border-radius: 15px;
        align-items:center;
        justify-content: center;
        padding-left: 15px;
        font-family: fantasy;
        font-size: 1.3em;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        background-image: url("../Proj1/nav.gif");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
        overflow: hidden;
        flex-wrap: wrap;
        z-index: 10;
    }

    .nav-picture {
        height: auto;
        display: block;
        position:absolute;
        left: 295px;
        z-index: 7;
    }

    ul {
        list-style-type: none;
    }

    nav ul {
        display: flex;
        margin: 0;
        gap: 170px;
        list-style: none;
        font-size: 2em;
        color:#ffb5fe;
        flex-grow: 1;
        z-index: 15; 
    }

    nav ul li a {
        color: #ffb5fe;
        text-decoration: none; 
        font-weight: bold; 
    }

    .events {
        display: flex;
        gap: 10px; 
        padding: 20px;
        justify-content: center; 
        display: block;
    }

    .events li {
        display: flex; 
        font-weight: bold;
        text-align: center;
        align-items: center;
        font-size: 1.2em;
        padding: 120px;
        border-radius: 20px;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .events li p {
        display: flex; 
        font-weight:normal;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 120px;
        border-radius: 20px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .events li summary {
        cursor: pointer;
        text-decoration: underline;
    }
    details {
        width: 100%;
        margin: 0 auto; 
    }

    #concert1 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color:aquamarine;
    }

    #concert2 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: aquamarine;
    }

    #concert3 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: aquamarine;
    }

    #concert4 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: aquamarine;
    }

    #concert5 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color:aquamarine;
    }

    #concert6 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: aquamarine;
    }

    #concert7 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: aquamarine;
    }

    #concert8 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: aquamarine;
    }

    #concert9 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: aquamarine;
    }

    #concert10 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: aquamarine;
    }

    /* ------------------ */

    .concert {
        background-repeat: no-repeat;
    }

    .concert div {
        display: flex;
        justify-content: center;  
        align-items: left; 
        min-height: 100%; 
        max-width: 50%;   
        padding: 15px;
        border-radius: 15px;
        border: 2px solid #ffb5fe;
    }


    .concert div p {
        font-weight: bold;
        text-align: left;  
        max-width: 100%;
        min-height: 100vh;
        font-family: monospace;
        font-size: 1.3em;
        border-radius: 15px;
        border: 2px solid #ffb5fe;
    }
}

@media screen and (max-width: 400px) {
    body {
        flex-direction: column;
    }
    div p {
        display: flex;
        max-width: 56%;
        color:white;
        border-radius: 15px;
        align-items:center;
        justify-content: center;
        padding-left: 15px;
        font-family: fantasy;
        font-size: 1.3em;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        background-image: url("../Proj1/nav.gif");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
        overflow: hidden;
        flex-wrap: wrap;
        z-index: 10;
    }

    .nav-picture {
        height: auto;
        display: block;
        position:absolute;
        left: 295px;
        z-index: 7;
    }

    ul {
        list-style-type: none;
    }

    nav ul {
        display: flex;
        margin: 0;
        gap: 170px;
        list-style: none;
        font-size: 2em;
        color:#ffb5fe;
        flex-grow: 1;
        z-index: 15; 
    }

    nav ul li a {
        color: #ffb5fe;
        text-decoration: none; 
        font-weight: bold; 
    }

    .events {
        display: flex;
        gap: 10px; 
        padding: 20px;
        justify-content: center; 
        display: block;
    }

    .events li {
        display: flex; 
        font-weight: bold;
        text-align: center;
        align-items: center;
        font-size: 1.2em;
        padding: 120px;
        border-radius: 20px;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .events li p {
        display: flex; 
        font-weight:normal;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 120px;
        border-radius: 20px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .events li summary {
        cursor: pointer;
        text-decoration: underline;
    }
    details {
        width: 100%;
        margin: 0 auto; 
    }

    #concert1 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color:aquamarine;
    }

    #concert2 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: aquamarine;
    }

    #concert3 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: aquamarine;
    }

    #concert4 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: aquamarine;
    }

    #concert5 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color:aquamarine;
    }

    #concert6 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: aquamarine;
    }

    #concert7 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: aquamarine;
    }

    #concert8 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: aquamarine;
    }

    #concert9 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: aquamarine;
    }

    #concert10 {
        background-image: url("../Proj1/1.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: aquamarine;
    }

    /* ------------------ */

    .concert {
        background-repeat: no-repeat;
    }

    .concert div {
        display: flex;
        justify-content: center;  
        align-items: left; 
        min-height: 100%; 
        max-width: 50%;   
        padding: 15px;
        border-radius: 15px;
        border: 2px solid #ffb5fe;
    }


    .concert div p {
        font-weight: bold;
        text-align: left;  
        max-width: 100%;
        min-height: 100vh;
        font-family: monospace;
        font-size: 1.3em;
        border-radius: 15px;
        border: 2px solid #ffb5fe;
    }
}


