body {
  max-height: 700;
  background-color:blueviolet;
}


#canvas1 {
    background: black;
    display: block;
    margin: 0 auto;
    border: 2px solid white;
  }

  div {
    display: flex;
    position: absolute;
    left: 80px;
    border-radius: 2px;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
    font-size: 2em;
  }

  p {
    display: flex;
    position: absolute;
    max-width: 300px;
    left: 80px;
    top: 100px;
    font-size: 1.5em;
    border-radius: 20px;
    border-width: 2px;
  }

  #confirmBox {
    width: 20%;
    display:flex;
    size: 4;
    border-radius: 2px;
    font-size: 2em;
    position: absolute;
    bottom: 400px;
  }

  button {
    color:blue;
    font-size: .8em;
  }

  button:hover {
    cursor: pointer;
  }


  