body {
  max-height: 700;
  background-color:aqua;
}


#canvas1 {
    background: black;
    display: block;
    margin: 0 auto;
    border: 2px solid white;
  }

  div {
    display: flex;
    position: absolute;
    left: 100px;
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    border-color:purple;
    font-size: 3em;
    max-width: 300px;
  }

  p {
    display: flex;
    position: absolute;
    max-width: 300px;
    left: 100px;
    top: 100px;
    font-size: 2em;
    border-radius: 20px;
    border-width: 2px;
  }
