
body {
    background-color:black;
    color: #cfa3ce;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}


nav {
    display: flex; /* Enables flexbox */
    align-items: center; /* Centers items vertically */
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-image: url("nav.gif");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.nav-picture {
    max-width: 180%;
    height: auto;
    display: block;
}


ul {
    list-style-type: none;
}

nav ul {
    display: flex;
    margin: 0;
    gap: 70px;
    list-style: none;
    font-size: 2em;
    color:#cfa3ce;
    flex-grow: 1;
}

nav ul li a {
    color: #cfa3ce; /* Sets the text color */
    text-decoration: none; /* Removes the underline from links */
    font-weight: bold; /* Makes the text bold (optional) */
}

.events li a {
    color: white; /* Ensure links inside the event boxes match */
}

.events {
    display: flex;
    gap: 10px; /* Adds space between items */
    padding: 20px;
    justify-content: center; /* Centers items horizontally */
    display: block;
}

.events li {
    display: flex; /* Makes each list item a flexbox */
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color:blue;
    padding: 120px;
    border-radius: 20px;
    margin-bottom: 20px;
    max-width: 100%;
}


#concert1 {
 background-image: url("celestial.png");
}

#concert2 {
 background-image: url("echo.jpg");
}

#concert3 {
    background-image:url("Galaxy.jpg")
}

#concert4 {
    background-image: url("Multi.webp");
    background-repeat: no-repeat;
    background-size: 120%;
}   

#concert5 {
    background-image: url("Frequency.jpg")
}

#concert6 {
    background-image: url("Neuron.jpg");
}

#concert7 {
    background-image: url("Galactic.jpg");
    background-size: 130%;
}

#concert8 {
    background-image: url("Ripples.jpg");
    background-size: 100%;
}  

#concert9 {
   background-image: url("Dimension.jpg");
}

#concert10 {
    background-image: url("Thermo.webp");
}
