

body {
    background-color:black;
    color: #b981b8;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}


h1 {
    font-family:fantasy;
    font-size:3em;
}
nav {
    display: flex; /* Enables flexbox */
    align-items: center; /* Centers items vertically */
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-image: url("nav.gif");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.nav-picture {
    max-width: 100%;
    height: auto;
    padding-right: 0;
    display: block;
}


ul {
    list-style-type: none;
}

nav ul {
    display: flex;
    margin: 0;
    gap: 30px;
    list-style: none;
    font-size: 2em;
    color:#b981b8;
    flex-grow: 1;
}

nav ul li a {
    color: #b981b8; /* Sets the text color */
    text-decoration: none; /* Removes the underline from links */
    font-weight: bold; /* Makes the text bold (optional) */
}

.events {
    display: flex;
    gap: 10px; /* Adds space between items */
    padding: 20px;
    justify-content: center; /* Centers items horizontally */
    display: block;
}

.events li {
    display: flex; /* Makes each list item a flexbox */
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color:#ff33f9;
    padding: 120px;
    border-radius: 20px;
    margin-bottom: 20px;
    max-width: 100%;
}

#concert1 {

}

#concert2 {

}

#concert3 {

}

#concert4 {

}

#concert5 {

}

#concert6 {

}

#concert7 {
  
}

#concert8 {

}

#concert9 {
   
}

#concert10 {

}
